table.csetable{
    border-spacing: 0;
    color: #212121;
    text-align: center;
    overflow: hidden;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.6);
  }
  table.csetable thead{
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6);
  }
  table.csetable th{
    padding: 7px;
  }
  
  table.csetable>tbody>tr>td {
    padding: 10px;
    font-size: 14px;
    position: relative;
  }
  
  
  table.csetable>tbody>tr:hover {
    padding: 20px;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.6);
  }
  
  table.csetable tr td:first-child::before {
    content: "";
    position: absolute;
    padding: 7px;
    top: 0;
    left: -5000px;
    width: 10000px;
    height: 100%;
    z-index: -10;
  }
  
  table.csetable td:hover::after {
    content: "";
    position: absolute;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.6);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
  }

  body{
        width: 100%;
        height: 100%;
        --color: #E1E1E1;
        background-color: #F3F3F3;
        background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
            linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
        background-size: 55px 55px;
}
 